<footer>
    <p>Copyright &copy; 2018  Alpha Renovation. Build by Tatyana Kasa</p>
</footer>
<script>
   // $(document).ready(function () {
       // $('.header-second').load('./helper/secondheader.html');
       // $('footer').load('./helper/footer.html');
       // $('#furniture').localName('services.html#furniture');

        /*
         var myArr = ['#industrial','#homerenovation"', '#furniture'];
         $("#services").change(function({

         $.each(myArr,function (i, val) {

         $('#users').append('<li>' + val+ '</li>');
         });
         });*/

   // });
</script>
</body>
</html>