<div class="container">
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Alpha</span> Renovation</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="../index">Home</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../services">Services</a></li>
                <li><a href="../contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>