<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web site for professional building company">
    <meta name="keywords" content="Sergey Kisa, renovation, building, plasterboard, partition walls, stainless steel walls,
                                   suspended ceilings, kitchen canopies, fire alarm systems, ventilation systems, loft conversion,
                                   house extension, sun room, full refurbishment including rewiring, plumbing, decoration and carpentry,
                                   plastering, painting, decorating ideas, adding new bathroom fixtures, rewiring, tiling, carpenter job,
                                   custom kitchen, traditional kitchen">
    <meta name="author" content="Tatyana Kasa">
    <title>Alpha Renovation | Welcome</title>
   <script src="./scripts/jquery.js"></script>
    <script src="./scripts/cdn,js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script language="JavaScript" type="text/javascript"></script>
    <script type="text/javascript" src="./scripts.js"></script>
</head>
<body>