<div class="header-second">
    <nav>
        <ul id="icons">
            <li>
                <a target="_blank" href="https://twitter.com">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.googleplus.com">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
            <div id="phone">
                <a  href="tel:020 8530 2809">020 8530 2809</a>
            </div>

        </ul>
    </nav>
</div>