<% include helper/head.ejs %>
<% include helper/secondheader.ejs %>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Alpha</span> Renovation</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li class="current"><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="newsletter">
    <div class="container">
        <h1>Check what is new in our services</h1>
        <form>
            <input type="email" placeholder="Enter Email...">
            <button type="submit" class="button_1">Subscribe</button>
        </form>
    </div>
</section>

<section id="main">
    <div class="container">
        <article id="main-col">
            <h1><%- pageTitle %></h1>
            <p>Our team is based in London and has been involved in construction for over a decade. The team is well experienced with local and foreign projects - we will accommodate all your needs!
                We begin our project by evaluating the site, drafting up a plan as well as giving appropriate advice
                in regards to design and the logistics of the project. Our talents vary from fitting in any furniture or
                even renovating homes or commercial sites.</p>

            <p>  We are happy to install the furniture you have picked out or fulfilled an order such as kitchen or closets.
                We also offer services in renovation and construction itself.
                Whatever image you have in mind we will do our best to help you get there, whether it is building an extension
                to your home or opening a new restaurant or bar.

            </p>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3>Before to start: </h3>
                <p>
                    Here some points for you. Before to start remodelling your property we advice
                    you to tick all three points following bellow:</p>
                <ul>
                    <li>
                        Prepare a budget for each project you take on.
                    </li>
                    <li>
                       Acquire necessary Permit.
                    </li>
                    <li>
                        Make sure that you know where all electrical lines, water lines and gas lines.
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>
<% include helper/footer.ejs %>
