<% include helper/head.ejs %>
<% include helper/secondheader.ejs %>
<div class="header-second"></div>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Alpha</span> Renovation</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li class="current"><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="main">
    <div class="container">
        <h1><%- pageTitle %></h1>
        <ul>
            <% if(flash.messages !== null && typeof flash.messages  !== 'undefined'){%>
                    <p style="color:#537e53"><%= flash.messages%></p>
            <%} %>
        </ul>
                <button class="button_1" type="submit"><a href="contact">Back</a></button>

    </div>
</section>
<% include helper/footer.ejs %>