<% include helper/head.ejs %>
<% include helper/secondheader.ejs %>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Alpha</span> Renovation</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container">
        <h1><%- pageTitle %></h1>
        <p>We are a professional and experienced team of craftsmen capable of delivering a variety of projects in size and nature.
              If you have ideas for your property that you wish to turn into reality we will support you from concept to completion.
        </p>
    </div>
</section>
<section id="newsletter">
    <div class="container">
        <h1></h1>
        <form  id="form" class="quote" method="POST" action="s">
        </form>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="box">
            <img src="../public/img/commercial.jpg">
            <h3>Commercial</h3>
            <p>Our team offer their services in commercial projects.
                If you do want to change your bar, restaurant, shop.
            </p>
            <button class="button_2" id="industrial" type="button" onclick="location.href='services#industrial'">FIND OUT MORE</button>
        </div>
        <div class="box">
            <img src="../public/img/general.jpg">
            <h3>Home renovations</h3>
            <p>Our team is also here to make your house a home. To find out more press the link bellow.</p>
            <button class="button_2" id="homerenovation" type="button" onclick="location.href='services#homerenovation'">FIND OUT MORE</button>
        </div>
        <div class="box">
            <img src="../public/img/kitchen.jpg">
            <h3>Bespoke furniture</h3>
            <p>We also offer our services for the smaller installations or alterations. To see what we offer press the link bellow.</p>
            <button class="button_2" id="furniture" type="button" onclick="location.href='services#furniture'">FIND OUT MORE</button>
        </div>
    </div>
    <div class="clr"></div>
</section>
<% include helper/footer.ejs %>
