<% include helper/head.ejs %>
<% include helper/secondheader.ejs %>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Alpha</span> Renovation</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li class="current"><a href="portfolio">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="portfolio">
    <h1><%- pageTitle %></h1>
    <div class="wrap">
        <div id="arrow-left" class="arrow"></div>
        <div class="slide slide">
            <div class="slide-content">
                <span>Commercial</span>
            </div>
        </div>
        <div class="slide slide1">
            <div class="slide-content">
                <span>1</span>
            </div>
        </div>
        <div class="slide slide2">
            <div class="slide-content">
                <span>2</span>
            </div>
        </div>
        <div class="slide slide3">
            <div class="slide-content">
                <span>3</span>
            </div>
        </div>
        <div class="slide slide4">
            <div class="slide-content">
                <span>4</span>
            </div>
        </div>
        <div class="slide slide5">
            <div class="slide-content">
                <span>5</span>
            </div>
        </div>
        <div class="slide slide6">
            <div class="slide-content">
                <span>6</span>
            </div>
        </div>
        <div class="slide slide7">
            <div class="slide-content">
                <span>7</span>
            </div>
        </div>
        <div class="slide slide8">
            <div class="slide-content">
                <span>8</span>
            </div>
        </div>
        <div class="slide slide9">
            <div class="slide-content">
                <span>9</span>
            </div>
        </div>
        <div class="slide slide10">
            <div class="slide-content">
                <span>10</span>
            </div>
        </div>
        <div class="slide slide11">
            <div class="slide-content">
                <span>11</span>
            </div>
        </div>
        <div class="slide slide">
            <div class="slide-content">
                <span>Residential</span>
            </div>
        </div>
        <div class="slide slide12">
            <div class="slide-content">
                <span>12</span>
            </div>
        </div>
        <div class="slide slide13">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div class="slide slide14">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div class="slide slide15">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div class="slide slide">
            <div class="slide-content">
                <span>Furniture</span>
            </div>
        </div>
        <div class="slide slide17">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div class="slide slide18">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div class="slide slide20">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div class="slide slide21">
            <div class="slide-content">
                <span></span>
            </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
    </div>
</div>
<% include helper/slides.ejs %>
<% include helper/footer.ejs %>