<% include helper/head.ejs %>
<% include helper/secondheader.ejs %>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Alpha</span> Renovation</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li class="current"><a href="services">Services</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="main">
    <div class="container">
        <article id="main-col-service">
            <h1><%- pageTitle %></h1>
            <ul id="list-services">
                <li>
                    <h1 id="idustrial">Industrial</h1>
                    <p>Renovation of commercial properties including but not limited to Offices & Restaurants.</p>
                <ul>
                    <ol>Plasterboard partition walls</ol>
                    <ol>Stainless Steel walls</ol>
                    <ol>Suspended ceilings</ol>
                    <ol>Kitchen canopies</ol>
                    <ol>CCTV systems</ol>
                    <ol>Fire alarm systems</ol>
                    <ol>Ventilation systems</ol>
                </ul>

                </li>
                <li>
                    <h1 id="homerenovation">Home refurnished</h1>
                    <p>Loft Conversion</p>
                    <ul>
                        <ol>Garden Landscaping & Patio's</ol>
                        <ol>Loft Conversion (dormer)</ol>
                        <ol>House Extension</ol>
                        <ol>Full refurbishment including rewiring, plumbing, decoration and carpentry</ol>
                    </ul>
                    <p>Redecorating</p>
                    <ul>
                        <ol>Painting</ol>
                        <ol>Decorating ideas</ol>
                        <ol>Embedded furniture</ol>
                        <ol>Adding new bathroom fixtures</ol>
                        <ol>Sun room</ol>
                        <ol>An extension</ol>
                        <ol>Adding on an additional room</ol>
                        <ol>New Kitchen</ol>
                        <ol>A New Driveway</ol>
                    </ul>
                </li>
                <li>
                    <h1 id="furniture">Furniture</h1>
                    <p>Helping with design</p>
                    <ul>
                        <ol>Custom and traditional kitchens.</ol>
                        <ol>Wall to wall wardrobe</ol>
                        <ol>Made to measure furniture.</ol>
                    </ul>
                </li>
            </ul>
        </article>
    </div>
</section>
<% include helper/footer.ejs %>